doctype html
html(lang="en")
  head
    title Angular Starter Kit
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='css/app.css', media='all')
  body(ng-app='starter-app')
    div(ng-include="'/templates/header.html'")
    div.container(ui-view)
  script(src='js/app.js', type='text/javascript')
