ul.project-tree {
  margin: 0;
  padding: 0;
  li {
    padding: 3px 0;
    border-bottom: solid 1px #ddd;
    margin: 0;
    list-style: none;
    &.project-tree-subtree {
      border-bottom: none;
    }
    em {
      font-style: italic;
      font-weight: bold;
    }
    ul {
      padding-left:20px;
      list-style: none;
    }
  }
}
