.jumbotron
  h1 Angular Starter Kit

  h3 by Adam Albrecht

  p
    | This is an opinionated starter template for crafting a single-page web application using Angular.js, Coffeescript, SCSS, Jade, Bootstrap, UI-Router, Font-Awesome and a few other carefully picked tools that help kick-start web app development. You can find the source code 
    a(href='https://github.com/adamalbrecht/angular-starter-app') on Github
    |.

  ul.link-list
    li
      a(data-ui-sref='info.features') Features
    li
      a(data-ui-sref='info.libraries-tools') Libraries & Tools
    li
      a(data-ui-sref='info.getting-started') Getting Started
    li
      a(href='https://github.com/adamalbrecht/angular-starter-kit') Source code on Github

div(github-repo-dashboard data-username='angular' repo-name='angular.js')
