h1 Sample Code
p The project also includes a sample directive, controller, and service (along with unit tests) in case you are new to Angular.js.

h3 Directive

p Each of the github widgets below is not only a library used in this project, but a re-usable sample directive whose markup looks like this:
pre
  | &lt;div github-repo-badge='username/repo'&gt;&lt;/div&gt;
p You can find this directive at <code>app/js/directives/github_repo_badge.coffee</code> and it's spec counterpart at <code>spec/directives/github_repo_badge_spec.coffee</code>
h3 Controller

h3 Service

br
div(github-repo-badge='angular/angular.js')
div(github-repo-badge='twbs/bootstrap-sass')
div(github-repo-badge='nex3/sass')
div(github-repo-badge='jashkenas/coffee-script')
div(github-repo-badge='visionmedia/jade')
div(github-repo-badge='gulpjs/gulp')
div(github-repo-badge='bower/bower')
div(github-repo-badge='npm/npm')
div(github-repo-badge='angular-ui/ui-router')
